body {
    font-family: sans-serif;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    height: 100%;
}

h1 {
    text-align: center;
}

h2 {
    margin: 0.2rem;
}

img {
    max-width: 50px;
    border-radius: 50%;
}

.follow-people-card {
    border-radius: 12px;
    background-color: #3c3c3c;
    color: #cfcfcf;
    display: flex;
    flex-direction: column;
    gap: 0.8rem;
    padding: 1rem 2rem 1.5rem 2rem;
}

article {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 2rem;
}

article > header {
    display: flex;
    gap: 0.4rem;
}

article > header > div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 0.3rem;
}

span {
    font-style: italic;
}

button {
    border-radius: 15px;
    border: 0;
    background-color: #cfcfcf;
    color: #3c3c3c;
    padding: 0.5rem 1rem;
    font-weight: bold;
    cursor: pointer;
}

button:hover {
    opacity: 0.7;
    transition: 0.3s ease opacity;
}

button.followed {
    color: #cfcfcf;
    border: 1px solid #cfcfcf;
    background-color: #3c3c3c;
}